<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	   					http://www.springframework.org/schema/beans/spring-beans.xsd
	   					http://www.springframework.org/schema/context 
	   					http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- post processors and placeholder configurator -->

	<context:annotation-config />
	<context:component-scan base-package="com.krishnan.balaji"></context:component-scan>
	<bean class="com.krishnan.balaji.utils.DisplayBeanNamePostProcessor"></bean>
	<bean class="com.krishnan.balaji.utils.MyBeanFactoryPP"></bean>
	<bean
		class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor" />
	<bean
		class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<!-- this is a java.util.List -->
			<list>
				<value>circle.properties</value>
				<value>triangle.properties</value>
			</list>
		</property>
	</bean>
	<!-- simple beans -->
	<bean name="message" class="java.lang.String">
		<constructor-arg type="java.lang.String"
			value="Learning Spring by examples is fun"></constructor-arg>
	</bean>
	<bean id="somePoint" class="com.krishnan.balaji.model.Point">
		<property name="x" value="10"></property>
		<property name="y" value="10"></property>
	</bean>

	<bean id="point" class="com.krishnan.balaji.model.Point" scope="prototype">
		<property name="x" value="10"></property>
		<property name="y" value="10"></property>
	</bean>
	<!-- circle related beans -->
	<bean id="circle" class="com.krishnan.balaji.model.Circle">
		<!-- centre is being injected by jsr250 @rsource -->
		<property name="radius" value="7"></property>
	</bean>

	<bean class="com.krishnan.balaji.model.Point" name="center">
		<property name="x" value="${circle.center.x}"></property>
		<property name="y" value="${circle.center.y}"></property>
	</bean>
	<!-- line segment -->
	<bean id="lineSegment" class="com.krishnan.balaji.model.LineSegment"
		init-method="setUp" destroy-method="tearDown">
		<property name="pointA">
			<bean class="com.krishnan.balaji.model.Point" name="pointA">
				<property name="x" value="0"></property>
				<property name="y" value="0"></property>
			</bean>
		</property>
		<property name="pointB">
			<bean class="com.krishnan.balaji.model.Point" name="pointB">
				<property name="x" value="15"></property>
				<property name="y" value="15"></property>
			</bean>
		</property>
	</bean>
	<!-- triangle related beans -->
	<bean id="triangle" class="com.krishnan.balaji.model.Triangle">
		<property name="a">
			<bean class="com.krishnan.balaji.model.Point">
				<property name="x" value="${triangle.a.x}"></property>
				<property name="y" value="${triangle.a.y}"></property>
			</bean>
		</property>
		<property name="b" ref="trianglePointB"></property>
		<!-- c is autowired -->
	</bean>

	<bean class="com.krishnan.balaji.model.Point" id="trianglePointB">
		<property name="x" value="${triangle.b.x}"></property>
		<property name="y" value="${triangle.b.y}"></property>
	</bean>
	<bean class="com.krishnan.balaji.model.Point" name="c">
		<property name="x" value="${triangle.c.x}"></property>
		<property name="y" value="${triangle.c.y}"></property>
	</bean>

	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>greetings</value>
				<value>wishes</value>
			</list>
		</property>
	</bean>

</beans>       